<launch>
  <arg name="python" default="true" doc="Whether to use the python scripts [true|false]" />

  <arg name="development" default="true" doc="Whether run ARIAC in development mode [true|false]" />
  <arg unless="$(arg development)" name="development_args" value="" />
  <arg     if="$(arg development)" name="development_args" value="--development-mode" />

  <arg name="verbose" default="false" doc="Whether to run gazebo in verbose mode [false|true]" />
  <arg unless="$(arg verbose)" name="verbose_args" value="" />
  <arg     if="$(arg verbose)" name="verbose_args" value="--verbose" />

  <arg name="state_logging" default="false" doc="Whether to keep execution logs [false|true]" />
  <arg unless="$(arg state_logging)" name="state_logging_args" value="" />
  <arg     if="$(arg state_logging)" name="state_logging_args" value="--state-logging=true" />

  <arg name="no_gui" default="false" doc="Whether to run the environment without a GUI [false|true]" />
  <arg unless="$(arg no_gui)" name="gui_args" value="" />
  <arg     if="$(arg no_gui)" name="gui_args" value="--no-gui" />

  <arg name="fill_demo_shipment" default="false" doc="Fill demo shipment [false|true]" />
  <arg unless="$(arg fill_demo_shipment)" name="fill_demo_shipment_args" value="" />
  <arg     if="$(arg fill_demo_shipment)" name="fill_demo_shipment_args" value="--fill-demo-shipment" />

  <node if="$(arg python)" name="ariac_sim" pkg="ecse_373_ariac" type="gear.py"
        args="$(arg development_args)
          $(arg verbose_args)
          $(arg state_logging_args)
          $(arg gui_args)
          $(arg fill_demo_shipment_args)
          --visualize-sensor-views
          -f $(find ecse_373_ariac)/config/trial_01_config.yaml
          $(find ecse_373_ariac)/config/environment_config.yaml
          " required="true" output="screen" />


  <arg name="competition_mode" value="$(optenv ARIAC_COMPETITION false)" />

  <arg name="world_path" default="$(find ecse_373_ariac)/worlds/gear.world" />
  <arg name="gear_urdf_xacro" default="$(find ecse_373_ariac)/urdf/gear.urdf.xacro" />
  <arg name="arm_urdf_dir" default="$(find ecse_373_ariac)/urdf/" />

  <include unless="$(arg python)" file="$(find ecse_373_ariac)/launch/gear.launch" >
    <arg name="world_path" value="$(arg world_path)" />
    <arg name="gear_urdf_xacro" value="$(arg gear_urdf_xacro)" />
    <arg name="arm_urdf_dir" value="$(arg arm_urdf_dir)" />
  </include>
</launch>
